@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

i {
  font-size: 14px;
}

p {
  margin: 5px 0;
  word-break: break-word;
}
a {
  text-decoration: none;
}
.font-weight-normal {
  font-weight: normal;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-bold {
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.font-10 {
  font-size: 10px;
}

.font-12 {
  font-size: 12px !important;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px !important;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px!important;
}

.font-20 {
  font-size: 20px;
}

.font-22 {
  font-size: 22px;
}

.font-24 {
  font-size: 24px;
}

.font-26 {
  font-size: 26px;
}

.font-28 {
  font-size: 28px;
}

.font-30 {
  font-size: 30px;
}

.font-32 {
  font-size: 32px;
}

.font-34 {
  font-size: 34px;
}

.font-36 {
  font-size: 36px;
}

.font-38 {
  font-size: 38px;
}

.font-40 {
  font-size: 40px;
}

.text-break {
  word-break: break-all;
}

.text-ellipsis {
  white-space: pre-wrap;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.text-ellipsis.clamp1 {
  -webkit-line-clamp: 1;
  height: 17px;
}

.text-ellipsis.clamp2 {
  -webkit-line-clamp: 2;
  height: 46px;
}

.text-decoration-through {
  text-decoration: line-through;
}

.text-decoration-underline {
  text-decoration: underline;
}
